<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>index</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta name="data-spm" data-spm-protocol="i" content="" />
  <meta name="aplus-ajax" content="chksum">
  <meta name="aplus-wating" content="1">
  <link rel="stylesheet" href="//g.alicdn.com/qn/QNUI-OPEN/0.2.2/qnui.min.css">
  <!-- 需要替换的链接 Start -->
  <link rel="stylesheet" href="/build/pages/router/index.bundle.css">
  <!-- 正式环境中,请将上面业务样式的链接替换为下面的链接,注意 {version} 改为你对应的资源版本号 -->
  <!--<link rel="stylesheet" href="//g.alicdn.com//{version}??lib/next.css,pages/router/index.bundle.css">-->
</head>
<body>
<div id="container"><div class="c-loading">页面加载中...</div></div>
<script src="/node_modules/babel-polyfill/dist/polyfill.js"></script>
<script src="/node_modules/react/dist/react-with-addons.js"></script>
<script src="/node_modules/react-dom/dist/react-dom.js"></script>
<script src="/node_modules/redux/dist/redux.js"></script>
<script src="/node_modules/react-redux/dist/react-redux.js"></script>
<script src="/node_modules/react-router/umd/ReactRouter.js"></script>
<script src="/node_modules/react-router-redux/dist/ReactRouterRedux.js"></script>
<script src="/node_modules/redux-thunk/dist/redux-thunk.js"></script>
<script src="/node_modules/@alife/qnui/dist/qnui.js"></script>
<script type="text/javascript" src="/build/vendor.js"></script>
<script type="text/javascript" src="/build/pages/router/index.js"></script>
<!-- 正式环境中,请将上面几个链接替换为下面2个链接,注意 {version} 改为你对应的资源版本号 -->
<!--<script src="//g.alicdn.com//{version}??lib/polyfill.min.js,lib/react-with-addons.min.js,lib/react-dom.min.js,lib/redux.min.js,lib/react-redux.min.js,lib/ReactRouter.min.js,lib/ReactRouterRedux.min.js,lib/redux-thunk.min.js,lib/next.js"></script>-->
<!--<script src="//g.alicdn.com//{version}??vendor.js,pages/router/index.js"></script>-->

</body>
</html>
